.sidebar_compose{
    margin-top:15px !important;
    margin-left:10px !important;
    margin-bottom: 15px !important;
    text-transform: capitalize !important;
    color: gray;
    padding: 15px !important;
    border-radius:30px !important;
    box-shadow: 0  2px  5px  -2px rgba(0,0,0,0.75);
}


.headline {
    text-align: left;
    font-size: 40px;
    font-family: sans-serif;
    color: #f66dcb;
    background-image: -webkit-linear-gradient(92deg, #b673d0, #e1c095);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 1s infinite linear;
    margin-left: 30px;
}

.shopName {
    text-align: left;
    font-size: 20px;
    font-family: sans-serif;
    color: #f66dcb;
    background-image: -webkit-linear-gradient(92deg, #b673d0, #e1c095);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 1s infinite linear;
    margin-left: 30px;
}




.sidebar_compose{
    text-transform: capitalize !important;
    padding: 25px !important;
    border-radius:30px !important;
    box-shadow: 0px  2px  5px  -2px rgba(0,0,0,0.75);
}

.forgot {
    text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
    color: #cc66ac;
    padding-top: 15px;
    margin-right: 800px;
}


body {
    background-color: #F3EBF6;
    font-family: 'Ubuntu', sans-serif;
}

.main {
    background-color: #FFFFFF;
    width: 400px;
    height: 400px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
    padding-top: 40px;
    color: #8C55AA;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 23px;
}


form.form1 {
    padding-top: 90px;
    margin-left: 600px;
}



.un:focus, .pass:focus {
    border: 2px solid rgba(0, 0, 0, 0.18) !important;

}
