
body{
  background-color: linen;

}

#title{
  margin: auto;
  font-family: Sofia;
  font-style: italic;
  font-size: 25px;
  color: rosybrown;
  max-width: 500px;

}
#button {
  text-shadow: 2px 2px 3px antiquewhite;
  width: 75px;
  height: 24px;
  font-size: 11px;
  text-align: center;
  color: aliceblue;
  border-radius: 8px;
  max-width: 500px;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*


*/

.sidebar_compose{
  margin-top:15px !important;
  margin-left:10px !important;
  margin-bottom: 15px !important;
  text-transform: capitalize !important;
  color: gray;
  padding: 15px !important;
  border-radius:30px !important;
  box-shadow: 0  2px  5px  -2px rgba(0,0,0,0.75);
}

.button {
  width: 80px;
  height: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 500;
  color: #ffffff;
  background-color: mediumseagreen;
  border: none;
  border-radius: 45px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.button:hover {
  background-color: #6adada;
  box-shadow: 0 15px 20px rgb(191, 247, 202);
  color: #ffffff;
  transform: translateY(-7px);
}



.shopName {
  text-align: left;
  font-size: 20px;
  font-family: sans-serif;
  color: #f66dcb;
  background-image: -webkit-linear-gradient(92deg, #b673d0, #e1c095);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: hue 1s infinite linear;
  margin-left: 30px;
}


.sidebar_compose{
  text-transform: capitalize !important;
  padding: 25px !important;
  border-radius:30px !important;
  box-shadow: 0px  2px  5px  -2px rgba(0,0,0,0.75);
}

.forgot {
  text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
  color: #cc66ac;
  padding-top: 15px;
  margin-right: 800px;
}


body {
  background-color: #F3EBF6;
  font-family: 'Ubuntu', sans-serif;
}

.main {
  background-color: #FFFFFF;
  width: 400px;
  height: 400px;
  margin: 7em auto;
  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.sign {
  padding-top: 40px;
  color: #8C55AA;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 23px;
}

.un {
  width: 20%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

form.form1 {
  padding-top: 90px;
  margin-left: 600px;
}

.pass {
  width: 20%;
  color: rgb(38, 50, 56);
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 1px;
  background: rgba(136, 126, 126, 0.04);
  padding: 10px 20px;
  border-radius: 20px;
  outline: none;
  box-sizing: border-box;
  border: 2px solid rgba(0, 0, 0, 0.02);
  margin-bottom: 50px;
  margin-left: 46px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}


.un:focus, .pass:focus {
  border: 2px solid rgba(0, 0, 0, 0.18) !important;

}



.error {

  margin-left: 600px;
  width: 20%;
  align-items: center;
  text-align: center;
  color: #D8000C;
  background-color: #FFBABA;
  background-image: url('https://i.imgur.com/GnyDvKN.png');
  border: 1px solid;
  padding: 15px 10px 15px 40px;
  background-repeat: no-repeat;
  background-position: 10px center;
}
